<h1>Editing Ico Etz Investment</h1>

<%= render 'form', ico_etz_investment: @ico_etz_investment %>

<%= link_to 'Show', ico_etz_investment_path(@ico_etz_investment) %> |
<%= link_to 'Back', ico_etz_investments_path %>
