<h1>Privacy Policy</h1>
<p>RateDate.net has created this privacy statement in order to demonstrate our commitment to privacy. The following discloses the information-gathering and dissemination practices for this web site.</p>
<h2>Information is Automatically Logged</h2>
<p>This site uses a visitor statistics package that logs the following information on each page access: userid, IP, host, browser type, computing platform, date and time, page viewed, referer, request type, and query_string. We use this information to help diagnose problems with our server and to administer our web site, and to help identify you. This information is also gathered because we like to see who is visiting.&nbsp;This information is not and will never be divulged to a third party unless required by law.</p>
<h2>Cookies</h2>
<p>This site uses cookies to deliver content specific to your interests, to save your password so you don't have to re-enter it each time you visit our site, and for other purposes.</p>
<h2>Registration Forms</h2>
<p>Our site's registration form requires users to give us contact information (i.e. email address). Contact information from the registration forms is used to validate the user's account. This enables the site administrators to provide moderation for the various public features of this site, and to get in touch with the user when necessary.&nbsp;This information is not and will never be divulged to a third party unless required by law.&nbsp;We use this data to tailor our visitor's experience at our site showing them content that we think they might be interested in, and displaying the content according to their preferences.</p>
<h2>External Links</h2>
<p>This site contains links to other sites. RateDate.net is not responsible for the privacy practices or the content of such web sites.</p>
<h2>Personal data</h2>
<p>Please remember that any information that is disclosed in this areas becomes public information and you should exercise caution when deciding to disclose your personal information. All postings are property of their respective author. Improper language is automatically censored by the system. All submissions are subject to our editorial control -- editorial changes will be indicated.</p>
<h2>Security</h2>
<p>This site has security measures in place to protect the loss, misuse, and alteration of the information under our control.</p>
<h2>Data Quality/Access</h2>
<p>This site gives users control over their user experience and content that they may have provided. Users can in some cases freely modify or delete any content they post for a limited time.</p>
<h2>Limitation of Liability</h2>
<p>RateDate.net is not liable for any damages caused by any of the site content, whether directly provided by RateDate.net its employees or not.</p>
<h2>Contacting the Web Site</h2>
<p>If you have any questions about this privacy statement, the practices of this site, or your dealings with this web site, you can contact the&nbsp;Admin on email info@ratedate.net</p>