<h1>Terms of Use</h1>
<h2>Our Rules</h2>
<p>We want you to enjoy using the site but we have to have a few rules to ensure it is a safe and enjoyable experience for everyone. This summary tells you the important bits and is intended as a guide only. Please note that you may only use the site if you agree to be bound by the full set of Terms of use (see section below this summary) and our Privacy Policy.</p>
<h2>Who are we?</h2>
<p>RateDate.net is the dating website. It will remain so until the introduction of the main functions. We provide the service on an "as is" basis and cannot guarantee that the service will be uninterrupted or error-free, or will achieve particular results.</p>
<h2>Who can use the site?</h2>
<p>You must be over 18 and you must not have been convicted of or currently be charged with any offence (or are subject to any court order, police investigation, formal caution or similar) specifically relating to fraud, assault, violence, sexual misconduct or harassment.</p>
<h2>Types of membership</h2>
<p>You may use the site for free as a guest or as a member. The most important feature that is only available to Subscribers is the ability to contact other members using the site's built in messaging systems.</p>
<h2>Safety</h2>
<p>Online dating should be a fun and safe experience. We do our best to ensure users are genuine but you must take responsibility at all times for your own safety. In particular, we would draw your attention to the following advice:<br />Never give out your own email address, mobile phone number or other contact details unless you have satisfied yourself that the person you are giving that information to is who they say they are and is to be trusted with such information.<br />Never give any money or any item of value to anyone who contacts you through the site.</p>
<p><strong>You may:</strong></p>
<ul>
  <li>Cancel your membership whenever you wish.</li>
</ul>
<p><strong>You must:</strong></p>
<ul>
  <li>Abide by our rules at all times.</li>
  <li>Notify us if you become aware of any other user of the site who is acting inappropriately or not in accordance with these rules.</li>
</ul>
<p><strong>You must not:</strong></p>
<ul>
  <li>Use the site in any way that might breach any applicable law, regulation or code of conduct.</li>
  <li>Include any false, misleading, offensive or sexually explicit content</li>
  <li>Include or attempt to include any contact details (including your surname) in your username, profile headline, profile or in any introductory messages</li>
  <li>Use, or attempt to use the site for any commercial purposes.</li>
  <li>Use any material that is subject to copyright restrictions</li>
  <li>Include or attempt to include any links to other websites.</li>
</ul>
<h2>User Content and information</h2>
<p>Rate Date is not the publisher of user content, therefore it is your sole responsibility to decide what information you include in your profile or any communication you may have with other users. Please remember that publicly visible information is just that!</p>
<p>We will never divulge any of your personal details to another user.</p>
<p>We may amend or remove all or part of your profile at our sole discretion.</p>
<p>We do not verify the accuracy of any information included in a user's profile, therefore you should always exercise caution and carry out your own validation before meeting someone in person, or passing on your contact details to them.</p>
<p>We always try to delete any offensive or inappropriate material as soon as we are aware of it. If you spot anything we have missed, please tell us.</p>
<h2>Rate Date Content</h2>
<p>All logos, graphics, images etc on the site are our or our partners intellectual property, and as such you may not use them for any purpose outside the intended scope of the site.</p>
<h2>You agree that you will not:</h2>
<ul>
  <li>in connection with the Services breach any applicable law, regulation or code of conduct;</li>
  <li>publish or send any User Content (including photos you make visible only to your favourites) or communications to us which are false or misleading (and you agree to update User Content to ensure that it does not become false or misleading), sexually explicit, sexually suggestive, vulgar, indecent, obscene, racist, homophobic, xenophobic, abusive, unlawful, deceitful, invasive of another's privacy, offensive, harmful, violent, threatening, harassing, defamatory, an infringement of third party intellectual property or other rights or which encourage or assist any of the foregoing. Photographic content that will be publicly viewable is further subject to the terms and conditions noted on the photo upload page;</li>
  <li>publish content (including photos) that directly or indirectly alludes to child pornography or attempts to solicit communication with or on behalf of any person under the age of 18;</li>
  <li>include in your profile or any other information you post on the Site or in any communications you make through the Site to another User who has not previously contacted you, any information that enables you to be personally identified or contacted (other than through the Services), including (but not limited to) your last name, postal or email address or telephone number or another website address where such information about you can be found. For the purposes of this restriction contact with another User through the "One liner" service does not qualify as prior contact;</li>
  <li>solicit other Users' contact details or disclose your subscription or Member status in your profile;</li>
  <li>disclose or make accessible to any third party any username(s), password(s), activation code(s) or similar information allocated to Users or use them for any purpose other than authentication for the Services;</li>
  <li>provide email addresses to us of other persons or publish or send any User Content referring to other persons without having obtained their prior consent;</li>
  <li>publish or send any User Content which links to any third party websites which are illegal or contain inappropriate content;</li>
  <li>use the Services for any commercial, professional or non-private purposes (including advertising, canvassing, soliciting, trading, prostitution);</li>
  <li>use the Services for junk mail, spam and pyramid or similar or fraudulent schemes;</li>
  <li>do anything which may have the effect of disrupting the Services including the use of worms, viruses, software bombs or mass mailings;</li>
  <li>attempt to gain unauthorized access to any part of the Services or to the equipment used to provide the Services;</li>
  <li>use the Services to harass any other Member or seek to contact any Member who requests that you cease contact (you will have the option to block contact from other Members by selecting the appropriate option in their profiles);</li>
  <li>impersonate any other person or entity; or</li>
  <li>use the Services other than for the purposes set out in these Terms.</li>
  <li>you agree to comply with any guidelines or requirements on our Site as well as any reasonable request or instructions by us in connection with the Services.</li>
  <li>you must ensure that all contact information (e.g. postal and email addresses) that you provide are accurate and kept up to date.</li>
</ul>