<div class="container-fluid container-start">
  <nav class="navbar navbar-expand-lg navbar-dark bg-fade justify-content-between fixed-top">
    <a class="navbar-brand" href="http://ratedate.net/">
      <span class="icon-logo display-2"></span>
    </a>
  </nav>
  <div class="row justify-content-md-center">
    <div class="col-md-8 text-center">
      <div class="h2">RateDate is under development. Take a cup of tea or coffee and follow us:</div>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-md-4 text-center text-light pt-3">
      <a href="https://www.facebook.com/Rate-Date-861947790626663/" class="icon-facebook display-2"></a>
      <a href="https://twitter.com/RateDate2" class="icon-twitter display-2"></a>
      <a href="https://t.me/joinchat/FnaGEQvA8Z54oH4AM2vIIQ" class="icon-telegram display-2"></a>
      <a href="https://ratedate.slack.com/messages/@slackbot/" class="icon-slack display-2"></a>
    </div>
  </div>
</div>