<div class="container-fluid container-start">
  <div class="row justify-content-md-center">
    <div class="col-md-4 text-center">
      <div class="nav justify-content-center">
        <a href="http://ratedate.net" class="nav-link"><span class="icon-logo_big text-light"></span></a>
      </div>
      <div class="h2 text-light p-3">RateDate is under development. Take a cup of tea or coffee and<br> follow us:</div>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-md-3 justify-content-center pt-3 nav">
      <a href="https://www.facebook.com/Rate-Date-861947790626663/" class="icon-facebook h1 nav-link text-light"></a>
      <a href="https://twitter.com/RateDate2" class="icon-twitter h1 nav-link text-light"></a>
      <a href="https://t.me/joinchat/FnaGEQvA8Z54oH4AM2vIIQ" class="icon-telegram h1 nav-link text-light"></a>
      <a href="https://ratedate.slack.com/messages/@slackbot/" class="icon-slack h1 nav-link text-light"></a>
    </div>
  </div>
</div>