<div class="modal" id="gifts">
  <a class="modal-close" href="javascript:void(0)">
    <i class="fa fa-times"></i>
  </a>

  <div class="modal-window">
    <div class="modal-content center">
      <h1>Coming Soon</h1>
    </div>
  </div>
</div>