<p id="notice"><%= notice %></p>

<h1>Profiles</h1>

<%= render 'search_form' %>

<% @profiles.each do |profile| %>
  <%= render profile %>
<% end %>

<br>

<%= link_to 'New Profile', new_profile_path %>
