<% notice %>
<div class="profiles">
  <div class="profiles-wrap">
    <div class="filter-form" id="filters-form">
      <%= render 'search_form' %>
    </div>
    <div class="filter-bar">
      <a class="toggle-filter" id="show-filters" href="javascript:void(0)">
        <i class="fa fa-filter"></i> Filter Profiles
      </a>

      <div class="selected-filters">
        <ul class="selected-filters-wrap">
          <li><p class="filter">
            Spain <a class="remove-filter" href="javascript:void(0)"><span class="fa fa-times"></span></a>
          </p></li>
          <li><p class="filter">
            Spain <a class="remove-filter" href="javascript:void(0)"><span class="fa fa-times"></span></a>
          </p></li>
          <li><p class="filter">
            Spain <a class="remove-filter" href="javascript:void(0)"><span class="fa fa-times"></span></a>
          </p></li>
        </ul>
      </div>
    </div>

    <div class="grid-xs-1 grid-xsc-2 grid-sm-2 grid-md-3 grid-lg-4">
      <%= render @profiles %>
    </div>
  </div>
</div>