<% content_for :head do %>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBZtLop0Yk-dl1d9Ord1Hc7nsrak_Mat44&libraries=places&language=en" data-turbolinks-track="reload"></script>

<% end %>
<div class="profile-page with-button">
  <div class="profile-page-wrap">

    <div class="top">
      <%= link_to '<i class="fa fa-chevron-left"></i>Back'.html_safe, url_for(:back), class: 'back-link' %>
    </div>
    <%= render 'form', profile: @profile %>
  </div>
</div>
<script type="text/javascript" charset="utf-8">
    var options = {types: ['(cities)']};
    var input = document.getElementById('profile_address');
    document.on('turbolinks:load', function () {
        window.autocomplete = new google.maps.places.Autocomplete(input, options);
        fillInAddress = function() {
            var addressType, i, place, state;
            place = autocomplete.getPlace();
            i = 0;
            state = '';
            document.getElementById('administrative_area_level_1').value = '';
            document.getElementById('administrative_area_level_2').value = '';
            while (i < place.address_components.length) {
                addressType = place.address_components[i].types[0];
                if (addressType === "locality") {
                    document.getElementById('profile_city').value = place.address_components[i]['long_name'];
                }
                if (addressType === "administrative_area_level_1" || addressType === "administrative_area_level_2") {
                    if (state !== '') {
                        state += ', ';
                    }
                    state += place.address_components[i]['long_name'];
                    document.getElementById(addressType).value = place.address_components[i]['long_name'];
                }
                if (addressType === "country") {
                    document.getElementById('profile_country').value = place.address_components[i]['long_name'];
                    document.getElementById('profile_country_code').value = place.address_components[i]['short_name'];
                }
                i++;
            }
            return document.getElementById('profile_state').value = state;
        };
        window.autocomplete.addListener('place_changed', fillInAddress);
    });
</script>