.base-section {
    position: relative;
    color: #fff;
    background-color: $red;
    // min-height: 100vh;

    padding: $base-offset * 10 + $base-offset * 8 0 0;

    @include overflow();

    &::before {
        content: '';
        display: block;
        position: absolute;

        top: 2px;
        left: 0%;
        width: 100%;
        height: 100%;

        @include backgroundImage('base-screen-wrap.png');
        @include backgroundImage('base-screen-wrap.svg');
        z-index: 0;

        background-position: center bottom;
        background-size: 110% auto;
    }

    &-wrap {
        position: relative;
        height: 100%;
        @include sized();
        z-index: 1;
        margin-bottom: 30vh;

        &::before {
            z-index: 0;
            content: "";
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            width: 100%;
            height: 120%;

            @include backgroundImage('base-screen-image.png');
            background-position: left center;
            background-size: auto 100%;
        }

        & > * {
            position: relative;
            z-index: 1;
        } 

        & h2 {
            margin-bottom: $base-offset * 2;
        }

        & .timer {
            text-align: center;
            margin-top: $base-offset * 8;

            &-title {
                width: 100%;
                font-weight: 600;
                font-size: 36px;
                margin-bottom: $base-offset * 2;
            }

            &-digit {
                display: inline-block;
                position: relative;
                padding: $base-offset * 3 $base-offset * 4 0;

                &-label {
                    font-weight: 400;
                    font-size: 18px;

                    position: absolute;
                    top: 0;
                    left: 50%;

                    transform: translateX(-50%);
                }

                &-value {
                    display: block;
                    font-weight: 600;
                    font-size: 48px;
                    min-width: 64px;
                }
            }
        }
        & .bonus-wrap{
          display: block;
          margin: $base-offset * 2 auto;
          width: 570px;
          & .button{
            width: 145px;
            text-align: center;
            display: inline-block;
            padding: $base-offset*2;
          }
          & .bonus-timer{
            width: 420px;
            padding: $base-offset*2;
            border-radius: 6px;
            font-weight: 700;
            font-size: 24px;
            display: inline-block;
            background-color: rgba(255,255,255,0.2);
            & .time{
              width: 34px;
              display: inline-block;
            }
          }
        }

    }

    @media screen and (max-width: $screen-md) {
        &-wrap {
            &::before {
                height: 100%;
                background-position: center;
                background-size: auto 80%;
            }
        }

        & .timer {
            &-digit {
                &-value {
                    font-size: 28px;
                    min-width: 48px;
                }
            }
        }
    }

    @media screen and (max-width: $screen-sm) {
        padding: $base-offset * 10 + $base-offset * 4 0 0;
        &-wrap {
            margin-bottom: 15vh;
            &::before {
                height: 100%;
                background-position: center;
                background-size: contain;
            }
        }

        & .timer {
            margin-top: $base-offset * 6;

            &-title {
                font-size: 24px;
                margin-bottom: $base-offset;
            }

            &-digit {
                padding: $base-offset * 2 $base-offset * 2 0;

                &-label {
                    font-size: 10px;
                }

                &-value {
                    font-size: 24px;
                    min-width: 32px;
                }
            }
        }
        & .bonus-wrap{
          width: 260px;
          & .bonus-timer{
            font-size: 14px;
            display: block;
            width: 100%;
            margin-bottom: $base-offset;
            & .time{
              width: 18px;
            }
          }
          & .button{
            display: block;
            width: 100%;
          }
        }
    }

    @media screen and (max-height: 520px) {
        &-wrap {
            margin-bottom: 30vh;
        }
    }
}