.tokens-section {
    color: #fff;

    &-wrap {
        @include sized();
        & .button{
          float: right;
          margin-top: 24px;
        }
    }
    & h3 {
        margin-bottom: $base-offset * 3;
    }

    & p {
        margin-bottom: $base-offset * 3;

        &:last-of-type {
            margin: 0;
        }
    }
}