// Place all the styles related to the ico/account controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "ico";
@import "bootstrap-custom";
main{
  padding-top: 80px;
}
.account{
  & .timer {
    text-align: center;
    //margin-top: $base-offset;

    &-title {
      width: 100%;
      font-weight: 600;
      font-size: 36px;
      margin-bottom: $base-offset * 2;
    }

    &-digit {
      display: inline-block;
      position: relative;
      padding: $base-offset * 3 $base-offset * 4 0;

      &-label {
        font-weight: 400;
        font-size: 18px;

        position: absolute;
        top: 0;
        left: 50%;

        transform: translateX(-50%);
      }

      &-value {
        display: block;
        font-weight: 600;
        font-size: 48px;
        min-width: 64px;
      }
    }
  }
  & .button, button{
    font-size: 16px;
    &.close{
      font-size: 35px;
    }
  }
  & .h4{
    padding: $base-offset*2 0;
    font-weight: 700;
    font-size: 24px;
  }
  & .center{
    text-align: center;
  }
  & p{
    padding: $base-offset*2 0;
  }
  & ul{
    padding: 0 0 $base-offset*2 0;
    list-style-type: disc;
    list-style-position: inside;
    & li{
      padding: $base-offset 0;
    }
  }
}