@import "icons";
@font-face {
    font-family: 'Montserrat';
    src: font-url('Montserrat/Montserrat-Regular/Montserrat-Regular.eot');
    src: font-url('Montserrat/Montserrat-Regular/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
    font-url('Montserrat/Montserrat-Regular/Montserrat-Regular.woff') format('woff'),
    font-url('Montserrat/Montserrat-Regular/Montserrat-Regular.otf') format("opentype"),
    font-url('Montserrat/Montserrat-Regular/Montserrat-Regular.ttf') format('truetype'),
    font-url('Montserrat/Montserrat-Regular/Montserrat-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: font-url('Montserrat/Montserrat-Bold/Montserrat-Bold.eot');
    src: font-url('Montserrat/Montserrat-Bold/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
    font-url('Montserrat/Montserrat-Bold/Montserrat-Bold.woff') format('woff'),
    font-url('Montserrat/Montserrat-Bold/Montserrat-Bold.otf') format("opentype"),
    font-url('Montserrat/Montserrat-Bold/Montserrat-Bold.ttf') format('truetype'),
    font-url('Montserrat/Montserrat-Bold/Montserrat-Bold.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: font-url('Montserrat/Montserrat-Light/Montserrat-Light.eot');
    src: font-url('Montserrat/Montserrat-Light/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
    font-url('Montserrat/Montserrat-Light/Montserrat-Light.woff') format('woff'),
    font-url('Montserrat/Montserrat-Light/Montserrat-Light.otf') format("opentype"),
    font-url('Montserrat/Montserrat-Light/Montserrat-Light.ttf') format('truetype'),
    font-url('Montserrat/Montserrat-Light/Montserrat-Light.svg') format('svg');
    font-weight: 300;
    font-style: normal;
}
