<div id="notification">
  <button type="button" class="close" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <span>
    <%= message.user.profile.name %> write
  </span><br>
  <span class="text-truncate d-inline-block message">
    <%= message.body %>
  </span>
  <%= link_to 'Read now', conversation_path(message.conversation), class: 'read-now-link text-secondary' %>
</div>