
<div class="container-fluid container-start">
  <nav class="navbar navbar-expand-lg navbar-dark bg-fade justify-content-between fixed-top">
    <a class="navbar-brand" href="#">
      <span class="icon-logo display-2"></span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarICO" aria-controls="navbarICO" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarICO">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" href="#"><%= t :about %></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">white paper</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">bounty</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">token</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">road map</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">team</a>
        </li>
      </ul>
      <div class="navbar-nav">
        <div class="nav-item">
          <a class="btn btn-outline-danger mr-sm-2" href="#">login ICO</a>
        </div>
        <div class="nav-item">
          <a class="btn btn-outline-danger my-2 my-sm-0" href="#">join ICO</a>
        </div>
      </div>
    </div>
  </nav>
  <div class="row justify-content-md-center">
    <div class="col-md-8 text-center">
      <img class="img-fluid" src="http://dummyimage.com/960x540" />
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-md-4 text-center text-light pt-3">
      <h2>Pre-ICO Start</h2>
      <div class="row">
        <div class="col-md-3">
          <small>Days</small>
          <div class="display-3" id="tDayNum">--</div>
        </div>
        <div class="col-md-3">
          <small>Hours</small>
          <div class="display-3" id="tHourNum">--</div>
        </div>
        <div class="col-md-3">
          <small>Minutes</small>
          <div class="display-3" id="tMinNum">--</div>
        </div>
        <div class="col-md-3">
          <small>Seconds</small>
          <div class="display-3" id="tSecNum">--</div>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-md-4 text-center text-light pt-3">
      <div class="row">
        <div class="col-md-6">
          <span class="display-4 icon-ethereum"></span>
          <span class="display-3">0</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-md-4 text-center text-light pt-3"></div>
  </div>
</div>
<div class="container-fluid bg-bordo">
  <div class="row">
    <div class="col-md-8"><img class="img-fluid" src="http://dummyimage.com/1200x600" /></div>
    <div class="col-md-4">
      <h2 class="text-center p-3">Rate Date Idea</h2>
      <p>Rate Date - это сайт знакомств с уникальной возможностью проведения онлайн аукциона видео-свиданий.</p>

      <p>С помощью данного сервиса можно не только находить и общаться с интересными людбьми, но и создавать и участвовать в аукционах видео-свиданий. Rate Date включает в себя широкий спектр функций, главными из которых являются: простой доступ к сервису, бесграничное общение, возможность участвовать в онлайн аукционах видео-свиданий в качестве участника торгов (Rater) и соискателя (Dater).</p>

      <p>Dater - зарегистрированый пользователь сайта Rate Date, который выставляет свой профайл на онлайн аукцион видео-свиданий.</p>
      <p>Rater - зарегистрированый пользователь сайта Rate Date, который участвует в торгах онлайн аукциона видео-свиданий.</p>

      <p>Главной целью компании Rate Date является объединение как можно большего коичества одиноких сердец и упрощение знакомства людей в эпоху высоких технологий.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="text-center p-3">~~~~</div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="text-center p-3">~~~~</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h2 class="text-center p-3">Business Model</h2>
      <p>Сервис Rate Date является бесплатным и свободным сайтом знакоств. Главными способами монетизации проекта являются: возможность приобретения премиум-аккаунтов в которые входит расширеный функционал; и взымание комиссии с проводимых онлайн аукционов видео-свиданий.</p>
      <ul>
        <li>Премиум аккаунт приобретается на различные отрезки времени с учтенной системой скидок.</li>
        <li>Комиссия предполагает снятие фиксированого процента от выигрышной ставки Rater. Остаток суммы перечисляется на счет Dater.</li>
      </ul>
      <p>100% средств полученных от работы сайта пойдут на развитие Rate Date</p>
      <p>Присоединяйтесь к Rate Date и получайте высокую прибыль за счет роста цены токена</p>
    </div>
    <div class="col-md-8"><img class="img-fluid" src="http://dummyimage.com/1200x600" /></div>
  </div>
</div>
