
<div class="container-fluid container-start">
  <nav class="navbar navbar-expand-lg navbar-dark bg-fade justify-content-between fixed-top">
    <a class="navbar-brand" href="#">
      <span class="icon-logo display-2"></span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarICO" aria-controls="navbarICO" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarICO">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" href="#"><%= t :about %></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">white paper</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">bounty</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">token</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">road map</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">team</a>
        </li>
      </ul>
      <div class="navbar-nav">
        <div class="nav-item">
          <a class="btn btn-outline-danger mr-sm-2" href="#">login ICO</a>
        </div>
        <div class="nav-item">
          <a class="btn btn-outline-danger my-2 my-sm-0" href="#">join ICO</a>
        </div>
      </div>
    </div>
  </nav>
  <div class="row justify-content-md-center">
    <div class="col-md-8 text-center">
      <img class="img-fluid" src="http://dummyimage.com/960x540" />
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-md-4 text-center text-light pt-3">
      <h2>Pre-ICO Start</h2>
      <div class="row">
        <div class="col-md-3">
          <small>Days</small>
          <div class="display-3" id="tDayNum">--</div>
        </div>
        <div class="col-md-3">
          <small>Hours</small>
          <div class="display-3" id="tHourNum">--</div>
        </div>
        <div class="col-md-3">
          <small>Minutes</small>
          <div class="display-3" id="tMinNum">--</div>
        </div>
        <div class="col-md-3">
          <small>Seconds</small>
          <div class="display-3" id="tSecNum">--</div>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-md-4 text-center text-light pt-3">
      <div class="row">
        <div class="col-md-6">
          <span class="display-4 icon-bitcoin"></span>
          <span class="display-3">0</span>
        </div>
        <div class="col-md-6">
          <span class="display-4 icon-ethereum"></span>
          <span class="display-3">0</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-md-4 text-center text-light pt-3"></div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="text-center p-3">~~~~</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8"><img class="img-fluid" src="http://dummyimage.com/1200x600" /></div>
    <div class="col-md-4">
      <h2 class="text-center p-3">Rate Date Idea</h2>
      <p>Rate Date – is a dating site, providing a unique opportunity to hold an online video date
        auction. This service makes it possible not only to find and communicate with interesting
        people, but create and take part in video date auctions as well.</p>
      <p>Rate Date includes a wide range of opportunities: </p>
      <ul>
        <li>easy access to the service;</li>
        <li>unlimited communication;</li>
        <li>opportunity to take part in the online video date auction as a Rater and a Dater.</li>
      </ul>
      <p>Dater – a registered user of Rate Date website, who places his or her profile on the online video date auction.</p>
      <p>Rater – a registered user of Rate Date website, who participates in a tender on the online video date auction.</p>
      <p>The primary goal of Rate Date Company is to unite as many lonely hearts as possible and make it easier for people to make acquaintances in the high tech age.</p>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="text-center p-3">~~~~</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h2 class="text-center p-3">Business Model</h2>
      <p>Сервис Rate Date является бесплатным и свободным сайтом знакоств. Главными способами монетизации проекта являются: возможность приобретения премиум-аккаунтов в которые входит расширеный функционал; и взымание комиссии с проводимых онлайн аукционов видео-свиданий.</p>
      <ul>
        <li>Премиум аккаунт приобретается на различные отрезки времени с учтенной системой скидок.</li>
        <li>Комиссия предполагает снятие фиксированого процента от выигрышной ставки Rater. Остаток суммы перечисляется на счет Dater.</li>
      </ul>
      <p>100% средств полученных от работы сайта пойдут на развитие Rate Date</p>
      <p>Присоединяйтесь к Rate Date и получайте высокую прибыль за счет роста цены токена</p>
    </div>
    <div class="col-md-8"><img class="img-fluid" src="http://dummyimage.com/1200x600" /></div>
  </div>
</div>
