.bubble {
    position: relative;
    background-color: $red;

    width: 100vw;
    @include overflow();

    &::before, &::after {
        content: '';
        z-index: 0;
        display: block;
        position: absolute;
        left: -5%;
        width: 110%;
        // height: $base-offset * 12;
        height: 100%;
        background-size: 100% auto;
    }

    & > * {
        position: relative;
        z-index: 1;
    }

    &::before { top: -2px; background-position: center top; }
    &::after { bottom: -2px; background-position: center bottom; }

    &.left-to-right {
        $left-top-ratio: 10.16;
        $right-bottom-ratio: 12.19;

        padding: calc(100% / #{$left-top-ratio}) 0 calc(100% / #{$right-bottom-ratio});

        &::before {
            @include backgroundImage('left-top.png');
            @include backgroundImage('left-top.svg');
        }
        &::after {
            @include backgroundImage('right-bottom.png');
            @include backgroundImage('right-bottom.svg');
        }
    }
    &.right-to-left {
        $right-top-ratio: 10.08;
        $left-bottom-ratio: 12.08;

        padding: calc(100% / #{$right-top-ratio}) 0 calc(100% / #{$left-bottom-ratio});
        
        &::before {
            @include backgroundImage('right-top.png');
            @include backgroundImage('right-top.svg');
        }
        &::after {
            @include backgroundImage('left-bottom.png');
            @include backgroundImage('left-bottom.svg');
        }
    }
}

.bubble-border {
    position: relative;
    // border: 1px solid $red;
    // box-shadow: inset 0 0 0 2px $red

    &::after {
        content: "";
        
        z-index: 0;

        display: block;
        position: absolute;

        width: 100%;
        height: 100%;
        left: 0;
        top: 0;

        background-position: center;
        background-size: 100% 100%;

        @include backgroundImage('bubble-border-red.png');
        // @include backgroundImage('bubble-border-red.svg');
    }

    &.horizontal {
        &::after {
            @include backgroundImage('bubble-border-red-horizontal.png');
        }
    }

    & > * {
        position: relative;
        z-index: 1;
    }
}