footer {
    $left-top-ratio: 10.16;
    $logo-height: 48px;
    $logo-width: 124px;

    position: relative;
    background-color: $red;

    @include clear();

    &::before {
        content: '';
        z-index: 0;
        display: block;
        position: absolute;
        left: 0%;
        width: 100%;
        // height: $base-offset * 12;
        height: 100%;
        background-size: 110% auto;
        top: -2px;
        background-position: center top;

        @include backgroundImage('left-top.png');
        @include backgroundImage('left-top.svg');
    }

    padding: calc(100vw / #{$left-top-ratio}) $base-offset * 8 $base-offset * 4;

    & > * {
        position: relative;
        z-index: 1;
    }

    background-color: $red;

    & .logo {
        display: block;
        width: $logo-width;
        height: $logo-height;
        float: left;
        @include backgroundImage('logo.png');
        @include backgroundImage('logo.svg');

        background-position: center;
        background-size: contain;
    }

    & .social-links {
        float: right;
        margin: 0 (-$base-offset);
        & li {
            float: left;
            margin: 0 $base-offset;

            & a {
                display: block;
                height: 48px;
                width: 48px;
                padding: $base-offset;
                
                background-color: #fff;
                border-radius: 100%;

                & span {
                    display: block;

                    height: 32px;
                    width: 32px;
                    font-size: 24px;
                    line-height: 32px;
                    text-align: center;
                    color: $red;
                    
                }

                &:hover {
                    @include transition(.3s);
                    background-color: rgba(#fff, .8);
                }
            }
        }
    }

    & .copyright {
        position: absolute;
        top: calc(100vw / #{$left-top-ratio});
        left: 50%;
        transform: translateX(-50%);

        font-weight: 400;
        font-size: 12px;
        color: #fff;
    }

    @media screen and (max-width: $screen-lg) {
        text-align: center;

        & .logo {
            float: none;
            display: inline-block;
            margin-bottom: $base-offset * 4;
        }

        & .social-links {
            margin-bottom: $base-offset * 5;
            width: 100%;
            & li {
                float: none;
                display: inline-block;
            }
        }

        & .copyright {
            top: auto;
            bottom: $base-offset * 2;
        }
    }

    @media screen and (max-width: $screen-sm) {
        & .social-links {
            & li {
                & a {
                    height: 24px;
                    width: 24px;
                    padding: $base-offset / 2;
                    
                    & span {
                        height: 16px;
                        width: 16px;
                        font-size: 16px;
                        line-height: 16px;
                    }

                }
            }
        }
        padding: calc(100vw / #{$left-top-ratio}) $base-offset * 2 $base-offset * 4;    
    }
}