<p id="notice"><%= notice %></p>
<div class="profiles">
  <div class="profiles-wrap">
    <h1>New Promos</h1>

    <%= render 'form', promo: @promo %>

    <%= link_to 'Back', promos_path %>
  </div>
</div>

