.auction {
    $image-size: 300px;
    $profile-size-xs: $base-offset * 16;
    @include overflow();


    background-color: #fff;
    box-shadow: 0px 4px 24px 0px rgba(1, 1, 1, 0.04);
    border-radius: 4px;
    display: block;
    position: relative;

    & .charitable{
      font-size: 30px;
      color: $red;
      position: absolute;
      top: $base-offset*2;
      right: $base-offset*2;
      z-index: 100;
    }

    & .buttons{
      .button-red{
        color: #fff;
        background-color: $red;
        border-radius: 100px;
        width: 100%;
        font-weight: 600;
        font-size: 16px;
        display: inline-block;
        padding: $base-offset $base-offset*2;
        text-align: center;
        border: none;
      }
    }

    &-image {
        position: relative;
        @include overflow();
        display: block;
        width: 100%;
        height: $image-size;
        background-size: cover;
        background-position: center;

        & img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate3d(-50%, -50%, 0);
            height: auto;
            width: 100%;
        }
    }

    &-info {
        position: relative;
        padding: $base-offset * 4 $base-offset * 3;
        & .name {
            font-size: 18px;
            font-weight: 500;
            margin-bottom: $base-offset;
        }
        & .place {
            font-size: 14px;
            color: $grey;
            margin-bottom: $base-offset * 2;
        }

        &-buttons {
            @include clear();
            margin: 0 -$base-offset / 2;

            position: absolute;
            left: 50%;
            top: 0;

            transform: translate3d(-50%, -50%, 0);
    
            & span {
                margin: 0 $base-offset / 2;
                float: left;
                $icon-size: 16px;
                display: block;
                font-size: 16px;
                font-weight: 600;
                line-height: $icon-size;
                text-align: center;
                
    
                padding: $base-offset * 2;
                height: $icon-size + $base-offset * 4;
                min-width: $icon-size + $base-offset * 4;
                background-color: #fff;
                border-radius: 100px;
                box-shadow: 0px 4px 16px 0px rgba(1, 1, 1, 0.1);
    
                &.red {
                    color: $red;
                }
    
                &.yellow {
                    color: $yellow;
                }
            }
        }
        & .bid{
          @include clear();
          padding-bottom: $base-offset;
          &-title{
            color: #000000;
            font-size: 14px;
            float: left;
          }
          &-value{
            color: $red;
            font-size: 14px;
            float: right;
            & span{
              font-size: 20px;
              font-weight: 600;
            }
          }
        }
        &-timer{
          @include clear();
          padding-bottom: $base-offset*2;
          &-title{
            color: #000000;
            font-size: 14px;
            float: left;
          }
          &-value{
            color: $red;
            font-size: 14px;
            float: right;
            font-weight: 600;
          }
          &-countdown{
            color: $red;
            font-size: 14px;
            font-weight: 600;
            clear: both;
            padding: 10px 0;
            text-align: right;
          }
          &-progress{
            margin-top: $base-offset;
            float: left;
            height: 5px;
            width: 100%;
            background-color: rgba($red,0.5);
            border-radius: 100px;
            &-bar{
              background-color: $red;
              height: 100%;
              width: 0;
              border-radius: 100px;
            }
          }
        }
        & .bid-form{
          input{
            border: 1px solid #ebebeb;
            font-size: 14px;
            line-height: 16px;
            padding: 8px 16px;
            border-radius: 4px;
            width: 60%;
            margin-right: 5%;
          }
          .button-bid{
            background-color: $red;
            padding: $base-offset $base-offset*2;
            text-align: center;
            border: none;
            border-radius: 100px;
            color: #FFF;
            font-weight: 600;
            font-size: 16px;
            width: 33%;
            display: inline-block;
          }
        }
        & .button-invite{
          background-color: $red;
          padding: $base-offset $base-offset*2;
          text-align: center;
          border: none;
          border-radius: 100px;
          color: #FFF;
          font-weight: 600;
          font-size: 16px;
          width: 100%;
          display: inline-block;
        }
    }




    @media screen and (max-width: $screen-xsc) {

        &-info {
            @include overflow();
            padding: $base-offset * 2;
        }
    }
}
  