.modal {
    
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($dark, .9);
    z-index: -100;
    opacity: 0;


    &-window {
        background-color: #fff;
        border-radius: 4px;
        position: absolute;

        width: 90%;
        max-height: 90%;
        max-width: 1024px;
        padding:  0 $base-offset * 2;

        @include overflow(hidden, scroll);

        z-index: 100;
        top: 10%;
        left: 50%;
        transform: translate3d(-50%, 20%, 0);
        opacity: 0;
    }

    &-close {
        position: absolute;
        top: 5%;
        right: 5%;

        display: block;
        width: 32px;
        height: 32px;
        border-radius: 100%;
        border: 1px solid #fff;
        padding: $base-offset; 
        
        transform: translate3d(-50%, 0, 0);

        & .fa {
            color: #fff;
            font-size: 18px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate3d(-50%, -50%, 0);
        }
    }

    &-content {
        max-width: 800px;
        margin: 100px auto 60px;
        h1 {
            font-size: 26px;
            font-weight: 500;
            margin-bottom: $base-offset * 8;
        }
        h2 {
            font-size: 18px;
            font-weight: 500;
            margin-bottom: $base-offset * 2;
        }
        p {
            font-weight: 300;
            font-size: 14px;
            margin-bottom: $base-offset * 4;
        }
        ul{
          font-weight: 300;
          font-size: 14px;
          margin-bottom: $base-offset * 4;
          list-style-type: disc;
          list-style-position: inside;
          li{
            margin-bottom: $base-offset * 2;
          }
        }
    }

    &.show {
        z-index: 100;
        opacity: 1;

        & .modal-window {
            @include transition(.6s);
            transform: translate3d(-50%, 0, 0);
            opacity: 1;
        }
    }
}