<div class="bubble <%= 'from' if personal_message.user.id==current_user_id %>">
  <p class="bubble-date"><%= personal_message.created_at.to_formatted_s(:short)  %></p>
  <p class="bubble-message"><%= personal_message.body %></p>
</div>