@import "normalize";
@import "config";
@import "mixins";
@import "font";
@import "font-awesome/font-awesome";
@import "fullpage.js";
@import "select2";
@import "nouislider";
@import "slick";
@import "croppie";

body {

	font-family: Montserrat;
	font-size: 12px;
	color: $dark;

    & * {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }    

	-ms-overflow-style: none;
	&::-webkit-scrollbar { 
		display: none; 
	}

    p { margin: 0; }

    a {
		color: inherit;
		text-decoration: none;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
    }

    & .clear {
        @include clear();
	}
	
	& .center {
		text-align: center;
	}

	& .nowrap {
		white-space: nowrap;
	}

	.landing-wrap {
		@include overflow();
		position: relative;
	}

	#fullpage {
		@include overflow();
	}

	.content-wrap {
		padding-top: 50px + $base-offset * 2;
		padding-bottom: 64px;
		position: relative;
		min-height: 100vh;
		background-color: $lighter-grey;

		@media screen and (max-width: $screen-sm) {
			padding-bottom: 88px;
		}
	}

	/*COMPONENTS*/
	@import 'components/header';
	@import 'components/footer';
	@import 'components/form-ui';
	@import 'components/profile';
	@import 'components/auction';
	@import 'components/invitation';
	@import 'components/slider';
	@import 'components/profile-big';
	@import 'components/profile-gallery';
	@import 'components/profile-about';
	@import 'components/profile-auction';
	@import 'components/profile-gift';
	@import 'components/profile-no-gift';
	@import 'components/chats-list';
	@import 'components/chat-window';
	@import 'components/profile-chat';
	@import 'components/modal';
    @import 'components/videodate';

	/*CONTAINERS*/
	@import 'containers/profiles';
	@import 'containers/profile-page';
	@import 'containers/chat';

    /*LANDING COMPONENTS*/
    @import 'components/landing/form-ui';
    @import 'components/landing/text';
    @import 'components/landing/nav-dots';
}