/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "variables";
@import "bootstrap";
// develop rake icons:update['icon_archive_name.zip']
@import "icons";
body{
  padding-top: 116px;
}
.container-start{
  margin-top: -116px;
  padding-top: 116px;
  height: 100vh;
  background-image: image_url("bg.jpg");
  background-size: cover;
}
.btn-outline-light {
  color: #890901;
  background-color: transparent;
  background-image: none;
  border-color: #890901;
}
.icon-logo_big{
  font-size: 20em;
}
.bg-bordo{
  background-color: $bordo;
  color: $white;
  background-image: image_url("heart-bg.png");
  background-position: center;
  background-repeat: no-repeat;
}
.bg-grey{
  background-color: $grey-bg;
}
.text-bordo{
  color: $bordo;
}