<div class="bg-secondary fixed-bottom container-fluid py-2">
  <div class="row justify-content-center pt-3 text-white">
    <div class="col-md-2"><i class="icon-logo h1 text-light"></i></div>
    <div class="col-md-3 text-center">
      <%= link_to 'Terms of Use', terms_of_use_path, class: 'text-white' %><br>
      <%= link_to 'Privacy Policy', privacy_policy_path, class: 'text-white' %>
    </div>
    <div class="col-md-3 text-center">Copyright © Rate Date<br>info@ratedate.net</div>
    <div class="col-md-4 text-right">
      <div>Follow Us:</div>
      <div class="nav justify-content-end">
        <a href="https://www.facebook.com/Rate-Date-861947790626663/" class="icon-facebook h4 nav-link text-light" target="_blank"></a>
        <a href="https://twitter.com/RateDate2" class="icon-twitter h4 nav-link text-light" target="_blank"></a>
        <a href="https://t.me/icoratedate" class="icon-telegram h4 nav-link text-light" target="_blank"></a>
        <a href="https://medium.com/@usatenko.katerina" class="icon-medium h4 nav-link text-light" target="_blank"></a>
        <a href="https://github.com/ratedate/ratedate" class="icon-github h4 nav-link text-light" target="_blank"></a>
      </div>
    </div>
  </div>
</div>